@require 'variables'

*
	font-family: 'Open Sans', sans-serif
	font-size: 11.75pt
	overflow-wrap: break-word

a
	color: darken(brand-red, 10%)
	&:focus
		outline: 1px dashed darken(brand-red, 10%)

.form-control:focus, button:focus
	outline: 1px dashed brand-red

h1, h2, h3, h4
	font-family: 'Oswald', sans-serif
	color: brand-red

h2
	letter-spacing: 0.7px
	font-size: 22pt

h3
	margin-top: 1rem

.section-separator
	width 100%
	height: 1px
	border-top: 1px solid darken(brand-red, 10%)
